body {
    font-family: Arial, Helvetica, sans-serif;

}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
    color:rgb(0, 65, 126);
    padding: 60px;
}

.titulo{
    font-size: 70px;
}



section {
    background-color: blue;
    height: 480px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center ;
    padding-top: 30px;
    gap: 20px;
    padding-bottom: 70px; 

}

.botao {
    font-size: 20px;
    width: 100px;
    height: 40px;
}

.botao:hover {
    background: rgb(0, 152, 179);
    color: white;
    border: white;

}

.botoes{
    flex-direction: column;
}


.imagem{
    display: flex;
    justify-content: center;

    
}

@media (max-width: 833px) {
    
    header{
        display: flex;

    }
    
    .titulo{
        font-size: 30px;

    }

    .botoes{
        display: flex;
        flex-direction: row;
        
    }

    .botao{
        font-size: 15px;
        height: 40px;
        width: 60px;
    }

    .primeiros{
        display: flex;
        flex-direction: column;
    }

    .segundos{
        display: flex;
        flex-direction: column;
    }

    .terceiros{
        display: flex;
        flex-direction: column;
    }

    .imagem{
        display: flex;
        justify-content: center; 
        width: auto;
        height: 70px ;
    }

}

